<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand">{{title}}</a>
        </div>
        <ul class="nav navbar-nav">
            <li [ngClass]="{'active' : pageName == 'home'}"><a (click)="pageName = 'home';">Home</a><li>
            <li [ngClass]="{'active' : pageName == 'about'}"><a (click)="pageName = 'about';">About</a></li>
            <li [ngClass]="{'active' : pageName == 'contactus'}"><a (click)="pageName = 'contactus';">Contact Us</a></li>
        </ul>
    </div>
</nav>